<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh-CN" lang="zh-CN">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/stylesheet/style.css" media="screen">
        <title>{{ page.title }}</title>
    </head>
    <body>
        <div class="container">
        	<div class="wrap">
        	    <header>
        	        <div class="title">
        	            <h2>{{ page.title }}</h2>
        	        </div>
        	        <div class="tags">
        	        	<span class="auther">{{ site.auther }}</span>
        	        	<span class="date">{{ page.date | date:"%Y-%m-%d" }}</span>
        	        </div>
        	    </header>
        	    <div class="content">
        	     {{ content }}
        	    </div>
        		<footer>
        		    <p><small>JingHan's Blog | Powered by <a href="https://pages.github.com" target="_blank" title="Gihub Pages项目主页">GitHub</a></small></p>
        		</footer> 
        	</div>
        </div>
    </body>
</html>